# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
h5py=2.10.0=pypi_0
hdf5=1.10.4=h7ebc959_0
html5lib=0.9999999=pypi_0
keras=2.3.1=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.0=pypi_0
numpy=1.17.4=pypi_0
numpy-base=1.17.4=py36hc3f5095_0
numpydoc=0.9.1=py_0
openssl=1.1.1g=he774522_0
pandas=1.0.3=pypi_0
pandoc=2.2.3.2=0
pandocfilters=1.4.2=py36_1
parso=0.5.1=py_0
patsy=0.5.1=pypi_0
pickleshare=0.7.5=py36_0
pillow=6.2.1=pypi_0
pip=19.3.1=py36_0
pyyaml=5.1.2=pypi_0
requests=2.23.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
scapy=git-archive.dev43fda76e56=pypi_0
scikit-image=0.16.2=py36h47e9c7a_0
scikit-learn=0.22.2.post1=pypi_0
setuptools=41.6.0=pypi_0
sklearn=0.0=pypi_0
spyder=3.3.6=py36_0
spyder-kernels=0.5.2=py36_0
tensorboard=2.0.2=pypi_0
tensorboard-plugin-wit=1.6.0.post3=pypi_0
tensorflow=2.0.0=pypi_0
tensorflow-estimator=2.0.1=pypi_0
tensorflow-gpu=2.2.0=pypi_0
tensorflow-gpu-estimator=2.2.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.3=pypi_0
testpath=0.4.2=py36_0
theano=1.0.4=py36_0
yaml=0.1.7=hc54c509_2
